block variable
    -var path = '';
    //- -var page = true;
    //- -var page = 'bg';
    //- -var leadmagnet = true;

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", type="text/css", href=path +"css/swiper-bundle.min.css")
        link(rel="stylesheet", type="text/css", href=path +"css/aos.css")
        link(rel="stylesheet", type="text/css", href=path +"css/fancybox.min.css")
        link(rel="stylesheet", type="text/css", href=path +"css/jquery-ui.css")
        link(rel="stylesheet", type="text/css", href=path +"css/style.css")
    body
        //- begin preloader
        .preloader__wrap#preloader
            .preloader
        //- end preloader

        .wrapper
            include header.pug

            main.main_content
                block content

            .callback
                .callback__toggle
                    .callback__img.img
                        img(src="../img/manager.webp", alt="alt")
                .callback__content
                    a(href="#").callback__close
                        i.icon_nav_close
                    .callback__img.img
                        img(src="../img/manager.webp", alt="alt")
                    .callback__name
                        span Анна
                    .callback__info
                        span менеджер проекта «Название проекта»
                    .callback__social
                        .social
                            a.social__link(href="#")
                                i.icon_phone.mobile
                                .social__number.desktop 
                                    span + 38 099 123 45 67
                                .social__label.desktop 
                                    span бесплатная консультация по проекту

                            a.social__link(href="#")
                                i.icon_telegram

                            a.social__link(href="#")
                                i.icon_whatsapp




            include footer.pug

            include scripts.pug
